<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Массовая рассылка</title>
    <style>
        .to-main {
                text-decoration: none;
                padding: 10px 20px;
                border: 1px solid grey;
                background-color: lightblue;
            }

        .to-main:hover{
                background-color: aliceblue;
            }
    </style>
</head>
<body>
<a href="./" class="to-main">На главную</a>
<br>
<br>
<form action="" method="post">
    <label>Текст сообщения: <br> <textarea name="message" cols="30" rows="10"></textarea></label>
    <button>Разослать</button>
</form>
</body>
</html>